<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />

<!-- les css -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<!-- les scripts -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js"
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/d3c2ba48a8.js"
	crossorigin="anonymous"></script>

<title>Ecommerce</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" th:href="@{/home}">Ecommerce</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarText" aria-controls="navbarText"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse pull-right" id="navbarText">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" th:href="@{/home}">Offres</a></li>

					<li sec:authorize="isAnonymous()" class="nav-item"><a
						class="nav-link" th:href="@{/user.create}">Inscription</a></li>

					<li sec:authorize="isAnonymous()" class="nav-item"><a
						class="nav-link" th:href="@{/login}">Connexion</a></li>

					<li sec:authorize="hasAuthority('Acheteur')" class="nav-item"><a
						class="nav-link" th:href="@{/transactions}">Mes transactions </a></li>

					<li sec:authorize="hasAuthority('Vendeur')" class="nav-item"><a
						class="nav-link" th:href="@{/produits}">Mes produits<span
							class="badge badge-pill badge-danger"
							th:if="${notifications > 0 }" th:text="${notifications}"></span>
					</a></li>

					<li sec:authorize="isAuthenticated()" class="nav-item"><a
						class="nav-link"
						th:text="${utilisateur.firstName}+' '+${utilisateur.name}">Profil</a></li>
				</ul>
				<form sec:authorize="isAuthenticated()"
					class="form-inline my-2 my-md-0" th:action="@{/logout}">
					<button class="btn btn-primary my-2 my-sm-0" type="submit">Déconnexion</button>
				</form>
			</div>
		</div>
	</nav>


	<div class="container">
		<div class="row mt-10">
			<th:block th:each="produit : ${produits}">
				<div class="col-xs-6 col-sm-6 col-md-4 mb-4">
					<div class="card">
						<div class="card-body">
							<h5 class="card-title"
								th:text="${produit.type}+' ' + ${produit.prix} + ' €'"></h5>
							<a sec:authorize="isAuthenticated()" href="#"
								class="card-link btn btn-primary pull-right" data-toggle="modal"
								th:data-target="'#location'+${produit.id}" id="location">Acheter</a>
						</div>
					</div>
				</div>

				<!-- DEBUT MODAL -->
				<div class="modal fade location" th:id="'location'+${produit.id}" tabindex="-1" role="dialog"
					th:aria-labelledby="'exampleModalLabel'+${produit.id}" aria-hidden="true">
					<input type="hidden" th:value="${produit.id}" name="produit_id" />
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Acheter
									produit</h5>
								<button type="button" class="close" data-dismiss="modal"
									aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								<p>Acheter cet article</p>
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary"
									data-dismiss="modal">Fermer</button>
								<button type="button" name="rent" th:data="${produit.id}" class="btn btn-primary">Oui</button>
							</div>
						</div>
					</div>
				</div>
				<!-- FIN MODAL -->
			</th:block>
		</div>
	</div>

	<footer class="footer">
		<div class="container">
			<span class="text-muted">© Ecommerce 2021</span>
		</div>
	</footer>

</body>

<script type="text/javascript">
	$(document)
			.ready(
					function() {
						$('.location')
								.on(
										'shown.bs.modal',
										function() {
											console.log("modal ready!");
											$("button[name=rent]")
													.on(
															"click",
															function() {
																var id = $(this).attr("data");

																$
																		.post(
																				"/transaction.store/"
																						+ id,
																				function() {
																					console
																							.log("ici");
																				})
																		.done(
																				function() {
																					console
																							.log("done");
																					location
																							.reload();
																				})
																		.fail(
																				function(
																						e) {
																					console
																							.log(e);
																				});
															});
										});
					});
</script>

</html>