<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />

<!-- les css -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.4.1.min.js"
	integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
	crossorigin="anonymous"></script>

<!-- les scripts -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
	integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	crossorigin="anonymous"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
	integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
	crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/d3c2ba48a8.js"
	crossorigin="anonymous"></script>

<title>Ecommerce</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-light bg-light">
		<div class="container">
			<a class="navbar-brand" th:href="@{/home}">Ecommerce</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarText" aria-controls="navbarText"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse pull-right" id="navbarText">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" th:href="@{/home}">Offres</a></li>

					<li sec:authorize="isAnonymous()" class="nav-item"><a
						class="nav-link" th:href="@{/utilisateur.create}">Inscription</a></li>

					<li sec:authorize="isAnonymous()" class="nav-item"><a
						class="nav-link" th:href="@{/login}">Connexion</a></li>

					<li sec:authorize="hasAuthority('Locataire')" class="nav-item"><a
						class="nav-link" th:href="@{/transactions}">Mes transactions </a></li>

					<li sec:authorize="hasAuthority('Loueur')" class="nav-item"><a
						class="nav-link" th:href="@{/produits}">Mes logements<span
							class="badge badge-pill badge-danger"
							th:if="${notifications > 0 }" th:text="${notifications}"></span>
					</a></li>

					<li sec:authorize="isAuthenticated()" class="nav-item"><a
						class="nav-link"
						th:text="${utilisateur.firstName}+' '+${utilisateur.name}">Profil</a></li>
				</ul>
				<form sec:authorize="isAuthenticated()"
					class="form-inline my-2 my-md-0" th:action="@{/logout}">
					<button class="btn btn-primary my-2 my-sm-0" type="submit">Déconnexion</button>
				</form>
			</div>
		</div>
	</nav>


	<div class="container">
		<div class="col-xs-12">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Type</th>

						<th>Prix</th>

					</tr>
				</thead>
				<tbody>
					<th:block th:each="transaction : ${transactions}">
						<tr>
							<td th:text="${transaction.produit.type}">...</td>

							<td th:text="${location.logement.prix} + ' €'">...</td>
						</tr>
					</th:block>
				</tbody>
			</table>

		</div>

	</div>

	<footer class="footer">
		<div class="container">
			<span class="text-muted">© Ecommerce 2021</span>
		</div>
	</footer>

</body>
</html>
